@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --violet: #e08aedff;
  --gray: #787878ff;
  --powder-blue: #9db3e2ff;
  --egg-blue: #5ad1d6ff;
  --gray-2: #808080ff;
  --black: #000000ff;
  --white: #eeeeeeff;
}

body {
  background-color: var(--black);
  color: var(--white);
}